*{
    margin: 0%;
    padding: 0%;
}
.container{
    position: relative;
    margin: auto;
    border: 2px solid black;
    background-color: rgb(97, 38, 38);
    width: 40vw;
    height:89vh;
    background-image: url('Screenshot from 2022-10-11 20-29-19.png');
    background-repeat: no-repeat;
    background-size: cover;
/* border-radius: 395px; */
 }

 #hours,#minutes,#seconds {
    position: absolute;
    background-color: black;
    border-radius: 12px;
    transform-origin: bottom;
 }

 #hours {
    width: 3%;
    height: 23%;
    top: 28%;
    left: 48.5%;
    opacity: 0.8;
    /* display: none; */
 }

 #minutes {
    width: 2%;
    height: 28%;
    top: 23%;
    left: 49%;
    opacity: 0.8;
    /* display: none; */
 }

 #seconds {
    width: 1%;
    height: 40%;
    top: 11%;
    left: 49.5%;
    opacity: 0.8;
 }